.free{
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(255, 197, 89, 0.871);
    width: 100%;
    position: relative;
    padding: 10px;
    text-align: center;
}